[submodule "stm32_example/drivers/STM32CubeF4"]
	path = stm32_example/drivers/STM32CubeF4
	url = https://github.com/STMicroelectronics/STM32CubeF4
[submodule "tests/platforms/libtropic-stm32"]
	path = tests/platforms/libtropic-stm32
	url = https://github.com/tropicsquare/libtropic-stm32
