:root  > * {
  --md-primary-fg-color:        #0032FF;
  --md-primary-fg-color--light: #0032FF;
  --md-primary-fg-color--dark:  #0032FF;
}

/* Dark mode link color */
[data-md-color-scheme="slate"] {
  --md-typeset-a-color: #6584ff; /* Replace with your preferred dark mode color */
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
  font-weight: 600; /* fully bold */
}