name: Unit tests
on:
  push:
    branches:
      - 'master'
      - 'develop'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4.1.7

    - name: Run Ceedling Unit Tests
      uses: pavelpolach321/action-ceedling-unit-test@2.0.0
      with:
        unit-test-path: '${{ github.workspace }}/'
